.vscode/**
.vscode-test/**
src/**
out/**
node_modules/**
*.vsix
.gitignore
.eslintrc.json
eslint.config.mjs
tsconfig.json
esbuild.js
.env
.env.*
**/*.map
**/*.ts
!dist/**
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db